# -----------------------
# Virtual Environment
# -----------------------
env/
venv/

# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------
# Django
# -----------------------
db.sqlite3
staticfiles/

# -----------------------
# Environment Variables
# -----------------------
.env

# -----------------------
# VS Code
# -----------------------
.vscode/

# -----------------------
# Operating System Files
# -----------------------
.DS_Store
Thumbs.db