
<div class="location-fields">

    <div class="form-group">

        <label for="state">
            State
        </label>

        <select
            id="state"
            name="state"
        >

            <option value="">
                Select State
            </option>

            {% for state in states %}

                <option value="{{ state.id }}">
                    {{ state.name }}
                </option>

            {% endfor %}

        </select>

    </div>


    <div class="form-group">

        <label for="district">
            District
        </label>

        <select
            id="district"
            name="district"
        >

            <option value="">
                Select District
            </option>

        </select>

    </div>


    <div class="form-group">

        <label for="sub_district">
            Sub District
        </label>

        <select
            id="sub_district"
            name="sub_district"
        >

            <option value="">
                Select Sub District
            </option>

        </select>

    </div>

</div>

